{% extends "monitor/base.html" %} 
{% block title %}Activities{% endblock %} 

{% block content %} 

<div class="content">
<div class="pagefragment">
		
	<form name=companiesForm action="." method=GET >
		<table>
		{{ form.as_table }}
		</table>
	</form>
	
	<div id="detail_map_canvas">
		<div id="institute" style="{{ building_style }}" border="1"> </div>
		<div id="building" style="{{ institute_style }}" border="1"> </div>
		<div id="floor" style="{{ floor_style }}" border="1"> </div>				
		{% if computer_title %}
		<div id="computer_mark" style="{{ computer_mark_style }}">  </div>
		{% endif %}
	</div>	
	
</div> <!-- End pagefragment -->	
</div>	

{% endblock %} 


<!---<img src="{{ institute_style }}" usemap="#green">
<map name="green">
	<area shape="rect" coords="0,0,241,179" href="/monitor/activities/?institute=iimas;building=building">
</map>				
->