{% extends "monitor/base.html" %} 
{% block title %}Activities{% endblock %} 

{% block content %} 

	<div class="content">
	<div class="pagefragment">
		
		<div id="detail_map_canvas">
			<div id="institute" style="{{ institute_style }}"> </div>
			<div id="building" style="{{ building_style }}"> </div>
			<div id="floor" style="{{ floor_style }}"> </div>				
			<div id="alarm_mark" style="{{ alarm_mark_style }}">  </div>
		</div>	
	
	</div> <!-- End pagefragment -->	
	</div>	
{% endblock %} 

