{% extends "monitor/base.html" %} 
{% block title %}Activities{% endblock %} 

{% block content %} 

	<div class="content">
	<div class="pagefragment">
		
	<h2> ¡Alarmas activadas! </h2>
	{% for alarm in alarm_list %} 
		<li><a href={{ alarm.url }}>{{ alarm.computer.name }}</a></li>
	{% endfor %}
	</p>
  	
	<div style="font-size:17px; font-weight: bold;">  {{ alarm_title }} </div>
	<div id="detail_map_canvas">
		<div id="institute" style="{{ institute_style }}" border="1"> </div>
		<div id="building" style="{{ building_style }}" border="1"> </div>
		<div id="floor" style="{{ floor_style }}" border="1"> </div>				
		<div id="computer_mark" style="{{ computer_mark_style }}">  </div>
	</div>	
	
	</div> <!-- End pagefragment -->	
	</div>	
{% endblock %} 


<!---<img src="{{ institute_style }}" usemap="#green">
<map name="green">
	<area shape="rect" coords="0,0,241,179" href="/monitor/activities/?institute=iimas;building=building">
</map>				
->