{% extends "monitor/base.html" %} 
{% load i18n %}
{% block title %}{% trans 'Welcome' %}{% endblock %} 

{% block content %} 

	<div class="content">
	<div class="pagefragment">
	
	  <h2> ¡Bienvenido! </h2>
	{% if user.username %} 
        {% trans 'Desde este lugar puedes monitorear tus equipos'%}
    {% else %} 
      {% trans 'Anonymous user! You need to '%}
			<a href={%url django.contrib.auth.views.login%}?next=/>login</a> 
      {% trans 'before you can monitor and check your computers.'%}
    {% endif %} 
		
	<div id="main">	
		<div id="map_canvas" style="width:790px; height:550px"></div>
	</div> <!-- End Main -->
				
	</div> <!-- End pagefragment -->
	</div>
	
{% endblock %} 
