{% extends "monitor/base.html" %} 
{% load i18n %}
{% block metatag %}<META HTTP-EQUIV="REFRESH" CONTENT="5">{% endblock %} 
{% block title %}{% trans 'Welcome' %}{% endblock %} 

{% block javascript %} 
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

	var current_alarms = [
	
	{% for alarm in alarms %}
	  ['{{ alarm.computer.location.institute }}', 
	'{{ alarm.computer.latitude }}','{{ alarm.computer.longitude }}', 1, 
	'{{ alarm.computer.location.address }}', '{{ alarm.url }}'],
	{% endfor %}
	
	];
	
	function submitform()
	{
		document.companiesForm.detener.value='NO';
		document.companiesForm.submit();
	}

</script>
{% endblock %} 


{% block content %} 

	<div class="content">
	<div class="pagefragment">
	
	{% if user.username %} 
		{% if switch %} 
  	<h2> ¡Alarmas activadas! </h2> <ul class="errorlist"><li>Aviso! Switch  {{ switch }} no responde.</li></ul>
	  {% endif %} 
		<form name=companiesForm action="/monitor/about/" method=GET >
			<table>
			{{ form.as_table }}
			</table>
			<input type="hidden" name="detener" id="id_detener" value={{ alarm_title }}/>
		</form>
		</p>
  {% else %} 
    {% trans 'Anonymous user! You need to '%}
	<a href={%url django.contrib.auth.views.login%}?next=/>login</a> 
    {% trans 'before you can monitor and check your computers.'%}
  {% endif %} 
		
	<div id="main">	
		<div id="map_canvas" style="width:790px; height:550px"></div>
	</div> <!-- End Main -->
				
	</div> <!-- End pagefragment -->
	</div>
	
{% endblock %} 
